<section id="concerts" class="concerts container">
  <table class="table">
    <caption>
      Найближчі концерти
    </caption>
    <tr class="row">
      <th>Місто/Заклад</th>
      <th>К-сть,місць</th>
      <th>Дата і час</th>
      <th></th>
    </tr>
    <tr class="row">
      <td>Київ — Docker-G Pub</td>
      <td>250</td>
      <td>25.10.2025,19:00</td>
      <td><button class="btn-accent">Замовити квиток</button></td>
    </tr>
    <tr class="row">
      <td>Львів — FESTrepublic</td>
      <td>400</td>
      <td>01.11.2025,20:00</td>
      <td><button class="btn-accent">Замовити квиток</button></td>
    </tr>
    <tr class="row">
      <td>Одеса — Зелен театр</td>
      <td>700</td>
      <td>09.11.2025,19:30</td>
      <td><button class="btn-accent">Замовити квиток</button></td>
    </tr>
    <tr class="row">
      <td>Харків — ArtZavod</td>
      <td>500</td>
      <td>16.11.2025,19:00</td>
      <td><button class="btn-accent">Замовити квиток</button></td>
    </tr>
  </table>
</section>
