<section id="contact" class="contact">
  <div class="container">
    <h2>Зв'яжись з нами</h2>
    <h3>Хочеш замовити виступ чи є питання? Пиши!</h3>
    <div>
      <form class="feedback-form" autocomplete="off">
        <label class="row">
          Ім'я
          <input type="text" name="name" autofocus placeholder="Ім'я" />
        </label>
        <label class="row">
          Email
          <input type="email" name="email" placeholder="Email" />
        </label>
        <label>
          Повідомлення
          <textarea
            name="message"
            rows="4"
            placeholder="Розкажи про свої ідеї..."
          ></textarea>
        </label>
        <button class="btn-accent" type="submit">Відправити</button>
      </form>
      <div>
        <iframe
          src="https://www.google.com/maps/d/embed?mid=1ybv61MFegpmS37TAQM1fctm1ZARB1SQ&ehbc=2E312F&noprof=1"
          width="440"
          height="380"
        ></iframe>
      </div>
    </div>
  </div>
</section>
