<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div>
        <p>&copy; 2025 Грим та Грім. Всі права захищені.</p>
        <address class="footer__contacts">
          <ul class="footer__contacts-list">
            <li>
              <a href="mailto:booking@lotoplay" class="footer__contacts-link"
                >booking@lotoplay</a
              >
            </li>
            <li>
              <a href="tel:+380991234567" class="footer__contacts-link"
                >+38 (099) 123-45-67</a
              >
            </li>
          </ul>
        </address>
      </div>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="footer__social-link"
            aria-label="Link to go to instagram"
          >
            Instagram
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="footer__social-link"
            aria-label="Link to go to youtube"
          >
            YouTube
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="footer__social-link"
            aria-label="Link to go to facebook"
          >
            Facebook
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
